/* 
CSS BOX MODEL
PADDING
MARGIN
BORDER
border radius
negative margin
*/

h1 {
	background: crimson;

	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 70px;

	margin-top: 15px;
	margin-right: 35px;
	margin-bottom: 45px;
	margin-left: 5px;

	border-top: 10px;
	border-right: 60px;
	border-bottom: 35px;
	border-left: 25px;
	border-style: solid;
	border-color: brown;

	border-radius: 50px;
}

p {
	background: cyan;

	padding: 25px 30px 5px 20px;

	margin: 60px 18px 25px 14px;

	border: 10px 15px 30px 20px;
	border-bottom-style: dashed;
	border-color: greenyellow;
	border-bottom-color: hotpink;

	border-radius: 50%;
}
